<!DOCTYPE html>
<html>
  <head>
    <title>DCM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
    form {
margin:0 auto;
width:300px
}
input {
align-items: center;
margin-bottom:3px;
padding:10px;
width: 100%;
border:1px solid #CCC
padding:10px
}
label {
cursor:pointer
}
#form-switch {
display:none
}
#register-form {
display:none
}
#form-switch:checked~#register-form {
display:block
}
#form-switch:checked~#login-form {
display:none
}
    </style>
  </head>
  <body>
    <input type='checkbox' id='form-switch'>
    <form id='login-form' action="/getUser" method='post'>
      <input name="uid" type="text" placeholder="uid" required>
      <input name="address" type="text" placeholder="address" required>
      <input type='submit' value="login"/>
      <label for='form-switch'><span>Register</span></label>
    </form>
    <form id='register-form' action="/setUser" method='post'>
      <input name="name" type="text" placeholder="Username" required>
      <input name="uid" type="text" placeholder="uid" required>
      <input name="address" type="text" placeholder="address" required>
      <input type='submit' value="submit"></input>
      <label for='form-switch'>Sign In</label>
    </form>
  </body>
</html>
